### Buddy Debugging - 2024-01-31
---

#### 1.

In [ ]:

# Compute average of a and b separately and combined. 

import statistics

a = [5, 8, 9, 12, 7]
b = [3, '9', 6]
c = a + b

mean_a = mean(a)
mean_b = mean(b)
mean_c = mean(c)

print(f"a: {a}")
print(f"b: {b}")
print(f"c: {c}")

print(f"mean_a: {mean_a}")
print(f"mean_b: {mean_b}")
print(f"mean_c: {mean_c}")

In [ ]:


# Cannot compute average a list unless all values are numeric (b is not).
# Cannot call mean without statistics prefix. 
a = [5, 8, 9, 12, 7]
b = [3, "9", 6]

indx9 = b.index("9")
b[indx9] = int(b[indx9])

c = a + b

mean_a = statistics.mean(a)
mean_b = statistics.mean(b)
mean_c = statistics.mean(c)

print(f"mean_a: {mean_a}")
print(f"mean_b: {mean_b}")
print(f"mean_c: {mean_c}")

#### 2.

In [ ]:

# Replace 11 with 13.

a = [2, 7, 9, 10, 11, 14]

eleven_indx = a.index(11)

a.replace(eleven_indx, 13)

print(f"a: {a}")

In [ ]:


# There is no replace method for lists. Update the value at a given index 
# using bracket notation.
eleven_indx = a.index(11)
a[eleven_indx] = 13

#### 3.

In [ ]:

# Sort wts in decreasing order (reverse sorted) and print the element at the
# 5th index.

wts = [62.0, 64.7, 66.9, 59.5, 61.2, 68.8, 71.4, 57.6]

ordered_wts = wts.sort()

rev_ordered_wts = ordered_wts.reverse()

fifth_element = rev_ordered_wts[5]

print(f"wts: {wts}")
print(f"rev_ordered_wts: {rev_ordered_wts}")
print(f"fifth_element: {fifth_element}")

In [ ]:


# sort/reverse are inplace operations - cannot assign the result of an in-place
# operation to a new variable since it modifies the original object. 
# rev_ordered_wts = sorted(wts, reverse=True)
# fifth_element = rev_ordered_wts[5]

#### 4.

In [ ]:

# Compute maximum of baby_snakes after removing 54 and 66.

baby_snakes = [20, 22, 27, 36, 17, 47, 54, 66]
baby_snakes.pop(54)
baby_snakes.pop(66)

max_baby_snakes = max(baby_snakes)

print(f"maximum of baby snakes: {max_baby_snakes}")

In [ ]:


# pop expects and index, not a value. We can either lookup the indices
# of 54 and 66, then pass the indices to pop, or use the remove method:

# baby_snakes.remove(54)
# baby_snakes.remove(66)
# max_baby_snakes = max(baby_snakes)
# print(f"maximum of baby snakes: {max_baby_snakes}")

#### 5.

In [ ]:

# Append v2 and v3 to v1 and print the total number of planets.

v1 = ["mercury", "venus", "earth"]
v2 = ["mars", "jupyter", "saturn"]
v3 = ["uranus", "neptune"]

v1.append(v2)
v1.append(v3)

nbr_planets = len(v1)

print(f"v1: {v1}")
print(f"Number of planets: {nbr_planets}")

In [ ]:


# If we pass a list to append, it will be added to the original list as a sublist.
# We can combine lists into a single unnested list using `+`.
# v1 = v1 + v2 + v3

#### 6.

In [ ]:

# Convert values in names to uppercase, then sort alphabetically. 

names = ["sturgill", "hank", "waylon", "merle", "george"]
uppercase = names.upper()
sorted_uppercase = uppercase.sort()

print("sorted_uppercase: {sorted_uppercase}")

In [ ]:


# 1. Cannot call upper on a list, only available for string types.
# 2. Cannot assign the result of sort to a new variable (in-place operation).
# 3. Missing f in print statement (variable will not substituted).

# names = ["sturgill", "hank", "waylon", "merle", "george"]

# names[0] = names[0].upper()
# names[1] = names[1].upper()
# names[2] = names[2].upper()
# names[3] = names[3].upper()
# names[4] = names[4].upper()

# sorted_uppercase = sorted(names)

# Option 2 - Using list comprehension.
# sorted_uppercase = sorted([j.upper() for j in names])

# print(f"sorted_uppercase: {sorted_uppercase}")

#### 7.

In [ ]:

# Convert scores to floats. Compute square root of sum.

scores = ["72.0", "52.7", "66.4", "99.1", "0.0"]
scores = float(scores)
sum_scores = sum(scores)
sqrt_sum_scores = math.sqrt(sum_scores)

print(f"sum_scores     : {sum_scores}")
print(f"sqrt_sum_scores: {sqrt_sum_scores}")

In [ ]:


# Cannot convert a list to a float, each element must be converted separately. 
# Cannot access functions from math library without first importing math. 
# scores[0] = float(scores[0])
# scores[1] = float(scores[1])
# scores[2] = float(scores[2])
# scores[3] = float(scores[3])
# scores[4] = float(scores[4])

# Option 2 - Using list comprehension.
# sqrt_sum_scores = math.sqrt(sum([float(j) for j in scores]))

#### 8.

In [ ]:

# Combine digits from numbers into a single integer.

numbers = [4, 7, 9, 2, 5]
combined = "".join(numbers)
combined_as_int = int(combined)

print(f"combined_as_int: {combined_as_int}")

In [ ]:


# Can only join strings with .join. First convert each element of numbers to 
# a string, then convert the result to an integer.
# strings = numbers.copy()
# strings[0] = str(strings[0])
# strings[1] = str(strings[1])
# strings[2] = str(strings[2])
# strings[3] = str(strings[3])
# strings[4] = str(strings[4])

# combined = "".join(strings)
# combined_as_int = int(combined)

# # Option 2 - Using list comprehension.
# combined_as_int = int("".join([str(j) for j in numbers]))

#### 9.

In [ ]:

# Swap the values of the first and last elements of fruits.

fruits = ["apple", "orange", "kiwi", "banana", "peach", "pineapple", "watermelon"]

print(f"fruits pre-swap: {fruits}")

fruits[0] = fruits[-1]
fruits[-1] = fruits[0]

print(f"fruits post-swap: {fruits}")

In [ ]:


# By updating the fruit at index 0 before creating a reference to it, we lose 
# the original value. First create a reference to the first and last elements,
# then update fruits:
fruits = ["apple", "orange", "kiwi", "banana", "peach", "pineapple", "watermelon"]

fruit_first = fruits[0]
fruit_last = fruits[-1]
fruits[0] = fruit_last 
fruits[-1] = fruit_first

print(f"fruits post-swap: {fruits}")

#### 10.

In [ ]:

# Determine the number of characters (including whitespace) in w1 and w2 combined.

w1 = ["ticking", "away", "the", "moments", "that", "make", "up", "a", "dull", "day"]
w2 = ["you", "fritter", "and", "waste", "the", "hours", "in", "an", "offhand", "way"]
w3 = w1 + w2

n_chars = len(w3)

print(f"Number of characters in w3: {n_chars}")

In [ ]:


# Calling len on a list will return the number of elements in the list, not the 
# length of each element in the list. First concatenate w3 into a single string,
# then call len on the result.

all_chars = " ".join(w3)
n_chars = len(all_chars)

print(f"all_chars: {all_chars}")
print(f"n_chars: {n_chars}")