### Buddy Debugging - 2024-01-24
---

#### 1.

In [14]:

a = "seven"
b = 4
total = a + b

print(f"total = {total}")

TypeError: can only concatenate str (not "int") to str

In [15]:

# Cannot add string types and integer types together. We need to convert a to an 
# integer to ensure total is an integer.
# 1. corrected:
a = 7
b = 4
total = a + b

print(f"total = {total}")

total = 11

#### 2.

In [16]:

phrase = "Winter time is coming, the windows are filled with frost...'

print(f"There are {len(phrase)} characters in phrase.")

SyntaxError: unterminated string literal (detected at line 1) (4008194478.py, line 1)

In [17]:

# Single or double quotations can be used to enclose strings, but it needs to
# be consistent. We replace the trailing single quote with a double quote.
# 2. corrected:
phrase = "Winter time is coming, the windows are filled with frost..."

print(f"There are {len(phrase)} characters in phrase.")

There are 59 characters in phrase.

#### 3.

In [18]:

import math

a = 3
b = 4
c = sqrt(a**2 + b**2)

print(f"c = {c}")

NameError: name 'sqrt' is not defined

In [19]:

# The math library has been imported, but in order to use sqrt we need to
# specify the math prefix.
# 3. corrected:
import math

a = 3
b = 4
c = math.sqrt(a**2 + b**2)

print(f"c = {c}")

c = 5.0

<br>

#### 4.

In [20]:

a = 20
b = 30
total = sum(a, b)

print(f"a + b = {total}.")

TypeError: 'int' object is not iterable

In [21]:

# sum takes an iterable as an argument (list, tuple, array, etc.). We cannot 
# pass individual numeric values to sum. Put a and b into a list, then pass the 
# list to sum.
# 4. corrected:
a = 20
b = 30
vals = [a, b]
total = sum(vals)

print(f"a + b = {total}.")

a + b = 50.

<br>
<br>
<br>

#### 5.

In [22]:

Determine the area of a circle having radius r.

r = 12
area = math.pi * r**2

print(f"Area of a circle with radius {r} = {area}.")

SyntaxError: invalid syntax (3897402941.py, line 1)

In [23]:

# Comments need to be preceded by `#`, otherwise an error will be thrown. In
# addition, the code references the math library without importing it.
# 5. corrected:
import math

# Determine the area of a circle having radius r.
r = 12
area = math.pi * r**2

print(f"Area of a circle with radius {r} = {area}.")

Area of a circle with radius 12 = 452.3893421169302.

#### 6.

In [24]:

# Test if a and b are both true.
a = "true"
b = True
test = a == True and b == True

print(f"a and b both True? {test}.")

a and b both True? False.

In [25]:

# Boolean types are as True (which evaluates to 1) or False (which
# evaluates to 0). "true" is a string, not a boolean.
# 6. corrected:
a = True
b = True
test = a == True and b == True

print(f"a and b both True? {test}.")

a and b both True? True.

#### 7.

In [26]:

# Check if sum of a and b equals 100.
a = 17
b = 82
total = a + b.

if total = 100:
    print("total = 100.")

SyntaxError: invalid syntax (3965383987.py, line 4)

In [27]:

# Need to remove the trailing `.` in the definition of total. 
# In order to test for equivalence, need to use doulbe equal sign, as 
# the single equal sign represents assignment in Python.
# 7. corrected:
# Check if sum of a and b equals 100.
a = 17
b = 82
total = a + b

if total == 100:
    print("total = 100.")


#### 8.

In [28]:

# Check if a + b + c is evenly divisible by 2.
a = 11
b = 11
c = 7
total = a + b + c

if total % 2 === 0:
print(f"{total} is even.")

SyntaxError: invalid syntax (1571646468.py, line 7)

In [29]:

# In order to test for equivalence, need to use double equal sign.
# `===` has no meaning in Python.
# Lines of code after an if statement need to be indented four spaces.
# 8. corrected:

# Check if a + b + c is evenly divisible by 2.
a = 11
b = 11
c = 7
total = a + b + c

if total % 2 == 0:
    print(f"{total} is even.")


<br>
<br>

#### 9.

In [30]:


5_length_list = [1, 2, 3, 4, 5]

print(f"Length of 5_length_list: {len(5_length_list)}.")

SyntaxError: invalid decimal literal (1485975361.py, line 1)

In [31]:

# Numeric values can be used in variable names but they cannot be the first 
# character. 
# 9. corrected:
length_list_5 = [1, 2, 3, 4, 5]

print(f"Length of length_list_5: {len(length_list_5)}.")

Length of length_list_5: 5.

#### 10.

In [32]:

week_of = "2024-01-22"

if week of == 2024-01-22:

    print("it is the week of 01-22.")

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (3680018171.py, line 3)

In [33]:

# Cannot have whitespace in variable names. 
# week_of is defined as a string type, but the test attempts to check for
# equality by treating the string as numeric type. 
# 10. corrected:

week_of = "2024-01-22"

if week_of == "2024-01-22":

    print("it is the week of 01-22.")

it is the week of 01-22.